.ChampionContainer {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  background-color: #25232c;

  .top-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: r(16px);
    padding-bottom: r(16px);
    background-color: #1f1d25;

    .ChamptionItemContainer {
      max-width: r(376px);
    }
  }

  .bottom-container {
    padding-top: r(16px);
    padding-bottom: r(30px);

    .ChamptionItemContainer {
      margin-bottom: r(18px);
    }

    .spells {
      height: 80px;
      margin-bottom: r(16px);
      border-radius: r(16px);
      background-color: #312e3a;
    }
  }

  .top-container,
  .bottom-container {
    padding-right: $game-page-horizontal-padding-mobile;
    padding-left: $game-page-horizontal-padding-mobile;

    @include bp-up(md) {
      padding-right: $game-page-horizontal-padding-pc;
      padding-left: $game-page-horizontal-padding-pc;
    }
  }
}
