.ChampionItem {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  margin-bottom: r(18px);
  color: white;

  .panel {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    border-radius: r(15px);
    cursor: pointer;
    background: rgba(79, 75, 91, 0.8);
  }

  .panel-spell {
    flex: 3;
    flex-basis: 75%;
    width: 75%;
  }

  &:last-child {
    margin-bottom: 0;
  }

  .panel-item {
    display: flex;
    flex: 1;
    flex-basis: 25%;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 100%;
    opacity: 80%;
    font-weight: 500;
    font-size: r(14px);
  }

  .panel-spell-item {
    width: 33%;
  }

  .icon {
    img {
      width: 31px;
      height: 31px;
      border: 2px solid #25232c;
      border-radius: r(5px);
    }
  }

  .spell {
    width: 25%;
    border: 2px solid #474352;
    border-radius: r(15px);
    background: #312e3a;
  }

  .ultimate {
    position: relative;
    margin-left: r(-4px);

    img {
      width: 40px;
      height: 40px;
      border: 2px solid #5d586b;
      border-radius: r(5px);
    }

    .ultimate-level {
      position: absolute;
      top: 25px;
      left: 17px;
      width: r(28px);
      height: r(14px);
      border-radius: r(5px);
      background-color: #6675ff;
      font-weight: bold;
      font-size: r(12px);
      line-height: r(14px);
      text-align: center;
    }
  }

  .leftTime {
    display: flex;
    align-items: center;
    margin: 0 auto;
    font-weight: bold;
    font-size: r(20px);
    line-height: 24px;
  }

  img {
    width: 31px;
    height: 31px;
  }
}

.item-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 40%;
  height: 100%;
  padding-left: calc(12.5% - 17.5px);
  border-radius: r(15px);
  background: #6675ff;
}

.item-left-ultimate {
  cursor: pointer;
}

.item-right {
  display: flex;
  flex-direction: row;
  width: 60%;
  height: 100%;
  border-radius: r(15px);
  cursor: pointer;
  background: #4f4b5b;

  .time-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 100%;
    font-weight: bold;
    text-align: center;
  }

  .refresh-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
  }
}

.line {
  width: 0.5px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
}

.item-right-wait {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 100%;
  border: 2px solid #6675ff;
  border-radius: r(15px);
  cursor: pointer;
  background: rgba(102, 117, 255, 0.8);

  .lock-span {
    font-weight: 600;
  }
}

.gray-filter {
  filter: grayscale(100%);
}
