.ChampionItem {
  z-index: 999;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 80px;
  margin-bottom: r(18px);
  border-radius: r(15px);
  cursor: pointer;
  background: #312e3a;
  color: white;
  text-align: center;

  .panel-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 100%;
  }

  .icon {
    border-radius: r(15px) 0 0 r(15px);
    background-color: #4f4b5b;

    img {
      width: 31px;
      height: 31px;
      border-radius: r(5px);
    }
  }

  .ultimate {
    position: relative;
    background-color: transparent;
  }

  .line {
    width: 1px;
    height: 100%;
    background-color: #4f4b5b;
  }

  .leftTime {
    font-weight: bold;
    font-size: r(20px);
    line-height: 24px;
  }

  img {
    width: 31px;
    height: 31px;
  }

  .timeButton {
    display: flex;
    justify-content: space-around;
    width: r(145px);
  }
}

.timeButtons {
  display: flex;
  justify-content: space-between;
  width: r(136px);
}

.panel-clicked {
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding-right: r(14px);
  padding-left: calc(12.5% - 15.5px);
  background-color: #4f4b5b;
}

.item-left {
  display: flex;
  flex-direction: row;

  img {
    margin-right: r(16px);
  }

  .icon {
    background-color: transparent;
  }
}

.item-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.panel-wait {
  display: flex;
  justify-content: start;
  padding-left: calc(12.5% - 17.5px);
  border: 2px solid #6675ff;
  border-radius: r(15px);
  background: rgba(102, 117, 255, 0.2);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);

  .modify-button {
    font-size: r(16px);
    color: #6675ff;
  }
}

.ultimate-level {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 31px;
  height: 31px;
  background-color: rgba(0, 0, 0, 0.4);
}
