.dragonContainer {
  z-index: 1000;
  width: 100%;
  max-width: $app-max-width;
  height: 64px;
  background-color: #1a181e;

  .dragonBar {
    position: fixed;
    top: $summonerContainer-height-mobile;
    z-index: 1000;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 100%;
    max-width: $app-max-width;
    height: 64px;
    padding: 0 18px;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    background-color: #1a181e;
    font-weight: 400;
    font-size: r(12px);
    color: #fff;

    // TODO-web
    // @include bp-up(md) {
    //   top: $summonerContainer-height-pc;
    // }

    .notice-container {
      display: flex;
      align-items: center;

      .countBox {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 22px;
        height: 16px;
        margin: 0 3px;
        border-radius: 5px;
        background: #6675ff;
        box-shadow: -2px -2px 2px rgba(0, 0, 0, 0.3);
      }

      .dragonImg {
        width: r(36px);
        height: r(36px);
        margin-right: 13px;
        border: 3.2px solid #312e3a;
        border-radius: 6px;
      }

      .notice-text {
        display: flex;
      }
    }

    .control-contianer {
      display: flex;

      .arrowBox {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        height: 28px;
        margin-left: 7px;
        border-radius: 6px;
        cursor: pointer;
        background: #6675ff;

        img {
          width: r(10px);
          height: r(5px);
        }

        &:last-child {
          img {
            margin-top: 1px;
          }
        }
      }

      .arrowBox:not(.disabled):hover {
        opacity: 90%;
      }

      .disabled {
        background-color: #312e3a;
      }
    }
  }
}
