.react-sortable-hoc-current {
  z-index: 9999;
}

.SummonaryInfoContainer {
  z-index: 1000;
  width: 100%;
  max-width: $app-max-width;
  height: 142px;

  // TODO-web
  // @include bp-up(md) {
  //   height: 82px;
  // }

  .SummonaryChamp {
    transform: translate(0, 0) !important;
  }

  .summonary-info-fixed-holder {
    position: fixed;
    top: $topbar-height;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: $app-max-width;
    padding: r(12px $game-page-horizontal-padding-mobile 16px $game-page-horizontal-padding-mobile);
    background-color: #1a181e;

    // TODO-web
    // @include bp-up(md) {
    //   padding-right: $game-page-horizontal-padding-pc;
    //   padding-left: $game-page-horizontal-padding-pc;
    // }

    & > * {
      flex: 0 1;
      flex-basis: r(54px);

      @include bp-up(md) {
        flex-basis: r(120px);
      }
    }
  }
}
