.summonary-info {
  display: flex;
  flex-direction: column;

  @media (min-width: 720px) {
    flex-direction: row;
  }

  .summonary-top-container {
    margin-bottom: r(13px);

    @media (min-width: 720px) {
      margin-right: r(16px);
      margin-bottom: r(20px);
    }
  }

  .summonary-bottom-container {
    .summonary-spell-container {
      display: flex;
      align-items: center;
      padding: 0 6px 7px 4px;

      img {
        width: r(20px);
        height: r(20px);
        margin-right: 7px;
      }

      span {
        opacity: 80%;
        font-weight: 500;
        font-size: 12px;
        color: #fff;
      }
    }

    .spell-off {
      img {
        -webkit-filter: grayscale(100%);
        filter: gray;
      }

      span {
        opacity: 50%;
        color: #fff;
      }
    }
  }
}
