.SpeechRecognition {
  position: fixed;
  top: 20px;
  right: r(45px);
  left: unset;
  z-index: 1500;
  width: 26px;
  height: 26px;
  cursor: pointer;
  color: #6675ff;

  @include bp-up(ss) {
    right: unset;
    left: calc(50% + 148px);
  }

  span {
    display: none;
  }

  & > * {
    font-size: 26px;
  }

  img {
    right: r(43px);
    width: r(18px);
    height: r(20px);
  }
}
