.SpeechRecognition {
  position: fixed;
  right: 10px;
  bottom: 36px;
  z-index: 1500;
  cursor: pointer;

  @include bp-up(ss) {
    right: unset;
    left: calc(50% + 148px);
  }

  span {
    display: none;
  }

  .material-icons {
    font-size: 26px;
  }

  img {
    position: relative;
    z-index: 1501;

    &.on {
      width: 90px;
      height: 90px;
    }

    &.off {
      width: 90px;
      height: 90px;
    }
  }
}
