.room-topbar-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: $app-max-width;
  height: 100%;

  .logo-image {
    width: 112px;
    height: 41px;
    cursor: pointer;
  }
}

.back-image {
  position: absolute;
  left: r(16px);
  width: 7.5px;
  height: 15px;
  cursor: pointer;
}
