.share-button {
  width: r(313px);
  height: r(50px);
  margin: 0 auto;
  border: none;
  border-radius: r(10px);
  cursor: pointer;
  background: #6675ff;
  font-weight: bold;
  font-size: r(15px);
}
