.SummonerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: r(84px);
  margin-top: r(64px);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  background: #1f1d25;
  color: white;

  .summoner-icon {
    width: r(58px);
    height: r(58px);
    margin: 14px;
    border: 2px solid #373737;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
  }

  .summoner-name {
    font-weight: 600;
    font-size: 15px;
  }
}
