.Topbar {
  position: fixed;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  height: 64px;
  background-color: #1a181e;

  .logo-image {
    width: 108px;
    height: 20px;
  }

  .info-image,
  .share-image {
    position: absolute;
    right: 0;
    width: 22px;
    height: 22px;
  }

  .info-image {
    right: r(54px);
  }

  .share-image {
    right: r(16px);
  }
}
