.Topbar {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  min-width: 320px;
  height: 64px;
  background-color: #1a181e;

  .topbar-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: $app-max-width;
    height: 100%;
    margin: 0 auto;

    .language-select {
      position: absolute;
      right: r(92px);
      min-width: r(72px);
      opacity: 50%;

      &.ant-select,
      .ant-select-selector {
        border: none !important;
        opacity: 80%;
        background-color: transparent;
        box-shadow: none !important;
        outline: none;
        font-size: r(12px);
        color: rgba(255, 255, 255, 0.8);

        .ant-select-selection-item {
          margin-top: r(1px);
        }
      }

      .ant-select-arrow svg {
        color: rgba(255, 255, 255, 0.8);
      }
    }

    .logo-image {
      position: absolute;
      left: r(20px);
      width: 98px;
      height: 36px;
      cursor: pointer;
    }

    .info-image,
    .share-image {
      position: absolute;
      right: 0;
      cursor: pointer;
    }

    .info-image {
      right: r(54px);
      width: 24px;
      height: 24px;
      cursor: default;
      // 임시
    }

    .share-image {
      right: r(16px);
      width: 19px;
      height: 19px;
    }
  }
}
