.ChamptionItemContainer {
  display: flex;
  justify-content: space-between;
  height: r(80px);

  @include bp-down(md) {
    width: 100%;
  }

  .left-container {
    position: relative;
    display: inline-block;
    overflow-x: auto;
    overflow-y: hidden;
    max-width: r(320px);
    height: r(90px);
    margin-right: r(16px);
    margin-bottom: -r(10px);

    @include bp-down(md) {
      width: auto;
      max-width: unset;
    }

    &::-webkit-scrollbar {
      height: 6px;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 3px;
      background-color: #312e3a;
    }

    &::-webkit-scrollbar-button {
      width: 0;
      height: 0;
    }

    .item-container {
      display: flex;
      // width: 100%;
      height: r(36px);

      &:first-child {
        margin-bottom: r(8px);
      }

      & > * {
        flex: 1 0;

        &:not(:last-child) {
          margin-right: r(8px);
        }
      }
    }
  }

  .search-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: r(45px);
    min-width: r(45px);
    height: r(80px);
    border: none;
    border-radius: r(10px);
    background-color: #312e3a;

    & > * {
      width: r(20px);
      height: r(20px);
    }
  }
}
