$horizontal-padding: r(24px);
$bottom-container-padding: r(12px);

.ItemSelector {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2000;
  background-color: #25232c;
  backdrop-filter: blur(30px);

  .top-container {
    background-color: #1a181e;

    .back-btn {
      padding: r(16px);
      border: none;
      background: none;

      img {
        width: r(7.5px);
        height: r(15px);
      }
    }
  }

  .search-container {
    position: relative;
    padding: r(12px $horizontal-padding 24px $horizontal-padding);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    background-color: #1a181e;

    .search-input {
      width: 100%;
      padding: r(8px 12px);
      border: none;
      border-radius: r(5px);
      background-color: #312e3a !important;
      outline: none;
      font-weight: 400;
      font-size: r(12px);
      color: #e5e5e5;
      line-height: r(14px);

      &::placeholder {
        color: rgba(229, 229, 229, 0.5);
      }
    }

    .search-icon {
      position: absolute;
      right: r(calc(#{$horizontal-padding} + 4px));
      bottom: r(24px + 5px);
      width: r(20px);
      height: r(20px);
    }
  }

  .item-list-container {
    padding: r(24px $horizontal-padding 0 $horizontal-padding);

    .title {
      margin-bottom: r(12px);
      font-weight: 600;
      font-size: r(14px);
      color: white;
      line-height: r(17px);
    }

    .no-result-text {
      margin-bottom: r(16px);
      font-size: r(14px);
      color: white;
      line-height: r(18px);
    }

    .item-list {
      margin-bottom: r(-8px);

      .Item {
        margin-right: r(8px);
        margin-bottom: r(8px);
      }
    }
  }

  .bottom-container {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;

    .item-list-container {
      margin-right: $horizontal-padding;
      margin-bottom: r(12px);
      margin-left: $horizontal-padding;
      padding: 0;
    }

    .complete-btn {
      width: 100%;
      height: r(50px);
      border: none;
      background-color: #6675ff;
      font-weight: 600;
      font-size: r(15px);
      color: #1a181e;
      line-height: r(18px);

      &:disabled {
        background-color: #4f4b5b;
      }
    }
  }
}
