.PrivateLayout {
  background-color: #1a181e;

  #app-body {
    margin-top: $topbar-height;

    @include bp-down(md) {
      margin-top: $topbar-height;
    }

    #app-body-content {
      max-width: $app-max-width;
      margin: 0 auto;
    }
  }
}
