.PublicLayout {
  $topbar-height-pc: r(72px);
  $topbar-height-mobile: r(50px);

  #app-body {
    // margin-top: $topbar-height-pc;
    margin-top: 0; //강현구 수정

    @include bp-down(md) {
      // margin-top: $topbar-height-mobile;
      margin-top: 0; //강현구 수정
    }

    #app-body-content {
      max-width: map-get($grid-breakpoints, xl);
      margin: 0 auto;
    }
  }
}
