$topbar-height: r(64px);
$summonerContainer-height-web: r(146px);
$summonerContainer-height-mobile: r(206px);

$game-page-horizontal-padding-pc: r(22px);
$game-page-horizontal-padding-mobile: r(12px);

$app-max-width: map-get($grid-breakpoints, md);
