@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'Pretendard Variable';
  src: url('../../fonts/PretendardVariable.woff2') format('woff2'),;
}

html,
body {
  font-family: 'Pretendard Variable', sans-serif;
}
