.SearchPage {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);

  .toast-message {
    bottom: 67px;
  }

  .version {
    position: absolute;
    bottom: r(8px);
    z-index: 1;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.1);
  }
}
