.SearchPage {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);

  // @include bp-up(md) {
  //   justify-content: center;
  // }

  .toast-message {
    bottom: 67px;
  }

  .version {
    position: absolute;
    bottom: r(8px);
    z-index: 1;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.1);
  }

  .langBox {
    position: absolute;
    top: 2rem;
    right: r(32px);
    width: fit-content;
    font-size: 0.6rem;
    color: #919191;

    @include bp-up(md) {
      left: 50vw;
      font-size: r(16px);
    }

    .checked {
      color: #e5e5e5;
    }

    span {
      margin-right: 1em;
    }

    span:hover {
      cursor: pointer;
    }
  }
}
