.MainIcon {
  width: r(313px);
  height: r(205px);
  margin-bottom: r(48px);
  border-radius: 0;

  @include bp-up(md) {
    width: r(600px);
    height: r(394px);
  }

  @media (max-height: 400px) {
    display: none;
  }
}
