.MiddleBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 82px 0 72px 20px;
  padding: 0 8px;

  @include bp-up(md) {
    align-items: center;
    margin-top: 0;
    margin-bottom: 61px;
  }

  img {
    width: 112px;
    height: 41px;
    margin-bottom: r(5px);

    @include bp-up(md) {
      width: r(224px);
      height: r(82px);
    }
  }

  span {
    width: 225px;
    font-weight: bold;
    font-size: r(20px);
    color: #fff;
    line-height: r(24px);

    @include bp-up(md) {
      width: 200%;
      font-size: r(34px);
      line-height: r(40px);
      text-align: center;
    }

    strong {
      font-weight: 800;
      font-style: normal;
    }
  }
}
