.MiddleBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 0 82px 61px;

  @include bp-up(md) {
    align-items: center;
    margin: 0 auto 43px;
  }

  span {
    width: 100%;
    font-weight: 400;
    font-size: r(23px);
    color: #fff;
    line-height: r(30px);
    text-align: center;

    @include bp-up(md) {
      width: 200%;
      font-size: r(30px);
      line-height: r(36px);
    }

    strong {
      font-weight: 700;
      font-style: normal;
    }
  }
}
