.MiddleBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 0 82px 61px;
  line-height: 40px;

  @include bp-up(md) {
    align-items: center;
    margin: 0 auto 43px;
  }

  p {
    margin-bottom: 13px;
    font-size: 16px;
    color: #6675ff;
    line-height: 19px;
    text-align: center;
  }

  span {
    width: 100%;
    font-weight: 400;
    font-weight: 100;
    font-size: r(23px);
    font-family: 'Pretendard Thin', sans-serif;
    color: #fff;
    line-height: r(32px);
    text-align: center;

    @include bp-up(md) {
      width: 200%;
      font-size: r(30px);
      line-height: r(40px);
    }

    strong {
      font-weight: 700;
      font-style: normal;
      font-family: 'Pretendard Bold', sans-serif;
    }
  }
}
