.SearchBar {
  position: relative;
  margin-bottom: r(64px);

  @include bp-up(md) {
    margin-bottom: r(52px);
  }

  input {
    width: 335px;
    height: 45px;
    padding: r(8px) r(45px);
    border: none;
    border-radius: 100px;
    background: #312e3a;
    font-weight: normal;
    font-style: normal;
    font-size: r(14px);
    color: #e5e5e5;
    line-height: 14px;
    caret-color: #88878a;

    @include bp-up(md) {
      width: 482px;
    }

    @include bp-up(xl) {
      width: r(524px);
    }
  }

  input:focus {
    box-shadow: none;
    outline: none;
    color: #e5e5e5;
  }

  svg {
    position: absolute;
    top: 14.5px;
    right: 8.5px;
    color: #746e84;

    @include bp-up(md) {
      right: 17px;
      font-size: r(16px);
    }
  }

  .searchSpinner {
    position: absolute;
    top: 20.5px;
    right: 8.5px;
    color: #746e84;

    @include bp-up(md) {
      top: 20px;
      right: 17px;
      font-size: r(16px);
    }
  }

  .SearchIcon {
    position: absolute;
    top: 14px;
    left: 16px;
    margin-right: 14px;
  }

  svg:hover {
    cursor: pointer;
  }

  input:focus::-webkit-input-placeholder,
  textarea:focus::-webkit-input-placeholder { /* WebKit browsers */ color: transparent; }

  input:focus:-moz-placeholder,
  textarea:focus:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ color: transparent; }

  input:focus::-moz-placeholder,
  textarea:focus::-moz-placeholder { /* Mozilla Firefox 19+ */ color: transparent; }

  input:focus:-ms-input-placeholder,
  textarea:focus:-ms-input-placeholder { /* Internet Explorer 10+ */ color: transparent; }
}
