.TopBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  padding: 45px 20px 85px;

  @include bp-up(sm) {
    padding: 45px 24px 85px;
  }

  @include bp-up(md) {
    padding: 45px 24px 72px;
  }

  @include bp-up(md) {
    width: 720px;
  }

  div {
    @include bp-up(md) {
      display: flex;
      align-items: center;
    }
  }

  .langBox {
    // position: absolute;
    // top: 2rem;
    // right: r(32px);
    width: fit-content;
    margin-right: r(28px);
    font-size: 0.6rem;
    font-size: r(15px);
    color: #7a7685;

    .checked {
      color: #fff;
    }

    span {
      margin-right: 1em;
    }

    span:hover {
      cursor: pointer;
    }
  }

  .logo-image {
    width: 98px;
    height: 36px;
    margin-bottom: r(5px);
  }

  .language-select {
    width: fit-content;
    // position: absolute;
    color: #fff;

    span {
      opacity: 100%;
      color: white;
    }

    &.ant-select,
    .ant-select-selector {
      padding: 0;
      border: none !important;
      background-color: transparent;
      box-shadow: none !important;
      outline: none;
      font-size: r(13px);
      color: rgba(255, 255, 255);

      .ant-select-selection-item {
        margin-top: r(1px);
        margin-right: 16px;
        padding: 0 !important;
      }
    }

    .ant-select-arrow {
      right: 45px;
    }

    .ant-select-arrow svg {
      color: rgba(255, 255, 255,);
    }
  }
}
