.TutorialButton {
  display: flex;
  align-items: center;
  width: fit-content;
  min-width: r(86px);
  height: r(27px);
  padding-left: 11px;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  background: #6675ff;
  font-size: 14px;
  color: white;

  span {
    margin-right: 6px;
  }

  .arrow {
    width: r(9px);
    height: r(4.5px);
    margin-top: 2px;
    margin-right: 4px;
    margin-bottom: 2.5px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
}
