.toast-message {
  position: fixed;
  bottom: 84px;
  left: calc(50% - 156.5px);
  z-index: 1001;
  display: flex;
  align-items: center;
  justify-content: center;
  width: r(313px);
  height: r(48px);
  border: 1px solid #6675ff;
  border-radius: r(10px);
  backdrop-filter: blur(20px);
  background: rgba(102, 117, 255, 0.15);
  color: #6675ff;
  text-align: center;
}

.message-ingame {
  top: calc(50% - 42px);
  height: r(62px);
  background: rgba(102, 117, 255, 0.3);
  font-weight: 600;
  font-size: 14px;
  color: white;
}

.message-on {
  -webkit-animation: 0.2s message-on;
  animation: 0.2s message-on;
}

.message-off {
  -webkit-animation: 0.3s message-off;
  animation: 0.3s message-off;
}

.message-on-ingame {
  -webkit-animation: 0.2s message-on-ingame;
  animation: 0.2s message-on-ingame;
}

.message-off-ingame {
  -webkit-animation: 0.2s message-off-ingame;
  animation: 0.2s message-off-ingame;
}

@keyframes message-on-ingame {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes message-off-ingame {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes message-on {
  from {
    opacity: 0;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
  }

  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes message-off {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }

  to {
    opacity: 0;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
  }
}
