.pageWrapper {
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;

  @include bp-up(md) {
    flex-direction: row;
  }

  .main-value {
    width: 80%;
    height: 14px;
    margin-bottom: r(32px);
    font-weight: 400;
    font-style: normal;
    font-size: r(12px);
    color: #fff;
    line-height: r(18px);
    text-align: center;

    @include bp-up(md) {
      width: 120%;
      height: 28px;
      font-size: r(16px);
    }

    strong {
      font-weight: 800;
      font-style: normal;
    }
  }

  .qrWrapper {
    border-right: 1px solid #312e3a;
    background-color: #1f1d24;

    img {
      width: r(126px);
      height: r(126px);
      margin: r(24px) 0;
      border: 2px solid #6675ff;
      border-radius: 12px;
      background: rgba(102, 117, 255, 0.8);
      color: rgba(102, 117, 255, 0.8);
      backdrop-filter: blur(4px);

      @include bp-up (md) {
        width: r(216px);
        height: r(216px);
        margin: 0;
      }
    }

    p {
      font-weight: bold;
      font-size: r(18px);
      color: #fff;

      @include bp-up(md) {
        margin-bottom: r(8px);
        font-size: r(32px);
      }
    }

    span {
      font-weight: 600;
      font-size: r(14px);
      color: #6675ff;
      text-align: center;

      @include bp-up(md) {
        margin-bottom: r(32px);
        font-size: r(26px);
      }
    }
  }

  .qrWrapper,
  .pcWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .pcWrapper {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

    @include bp-up(md) {
      border-right: 1px solid rgba(255, 255, 255, 0.1);
    }

    .main-image {
      width: r(170px);
      height: r(127px);

      @include bp-up(md) {
        width: r(342px);
        height: r(255px);
      }
    }

    .share_logo {
      width: r(112px);
      height: r(41px);
      margin-top: r(17px);
      margin-bottom: r(12px);

      @include bp-up(md) {
        width: r(218px);
        height: r(42px);
        margin-top: r(18px);
        margin-bottom: r(24px);
      }
    }

    button {
      width: r(130px);
      height: r(34px);
      border: none;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      -ms-border-radius: 50px;
      -o-border-radius: 50px;
      border-radius: 50px;
      background-color: #6675ff;
      outline: none;
      font-weight: bold;
      font-size: r(16px);

      @include bp-up(md) {
        width: r(199px);
        height: r(52px);
        font-size: r(20px);
      }
    }

    button:hover {
      cursor: pointer;
    }

    p {
      font-weight: bold;
      font-size: r(30px);

      @include bp-up(md) {
        font-size: r(100px);
      }
    }
  }
}
